<h1><%= @service.title %></h1>
<% owner = @service.user %>

<h2>Vendor</h2>
<p>This service is offered by <%= link_to "#{owner.username}", owner %></p>

<h2>Description</h2>
<p><%= @service.description %></p>

<% if current_user.username == owner.username %>
	<p>Would you like to <%= link_to "create a listing", 'listings/new' %> for it?</p>
<% end %>

<!-- Display current listings -->

<h2>Current Listings</h2>

<% if @service.listings.count.zero? %>
	<p>This service doesn't have any listings yet</p>
<% else %>
	<p>This service has the following listings:</p>
	<ul>
		<% @service.listings.each do |l| %>
			<li><%= link_to l.description, l %></li>
		<% end %>
	</ul>
<% end %>