<% if signed_in? %>
  <%= render "/users/dashboard" %>
<% else %>
  <% if @signupConf %>
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Congrats!</strong> You have successfully signed up!
    </div>
  <% elsif @errorSignup %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Error!</strong> Couldn't sign up!
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error">
            The form contains <%= pluralize(@user.errors.count, "error") %>.
          </div>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% elsif @errorSignin %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Error!</strong> Invalid username/password combination
    </div>
  <% end %>

<table width="85%" border="0" style="table-layout:fixed" >
<col width="50%" />
<col width="50%" />
<td> 
		
</td>

<td>
  <ul class="nav nav-tabs " data-tabs="tabs">
    <li class="active"><a data-toggle="tab" href="#tablogin">Login</a></li>
    <li><a data-toggle="tab" href="#tabsignup">Signup</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tablogin">
      <div class="container">

        <form class="form-signin" method="POST" action="/sessions">
          <br><br><br>
          <input class="form-control" id="session_username" type="text" name="session[username]" placeholder="Username" size="30" style="width:50%"><br>
          <input class="form-control" id="session_password" type="password" name="session[password]" placeholder="Password" style="width:50%">
          <br>
          <%= token_tag nil %>
          <button class="btn btn-lg btn-primary btn-block" style="width:50%" type="submit">Sign In</button>
        </form>
    </div>
    <br> <a href="/forgot_password">Forgot Password? </a><br>
    </div>
    <div class="tab-pane" id="tabsignup">
        <div class="container">
        <form class="form-signin" method="POST" action="/usersignup">
            <br><br><br>
            <input type="text" class="form-control" name="user[realName]" placeholder="Real Name" size="20" style="width:50%"><br>
             <input type="text" value="" class="datepicker" name="user[dateOfBirth]" placeholder="Date of Birth" style="width:50%">

            <script>
              $('.datepicker').datepicker({
                format: 'yyyy-mm-dd'
                });
        </script>
        <br><br>
        <input type="text" class="form-control" name="user[emailID]" placeholder="e-mail ID" style="width:50%"><br>
        <input type="text" class="form-control" name="user[username]" placeholder="Username" style="width:50%"><br>
        <input type="password" class="form-control" name="user[password]" placeholder="Password" style="width:50%"><br>
        <input type="text" class="form-control" name="user[latitude]" placeholder="Latitude" style="width:50%"><br>
        <input type="text" class="form-control" name="user[longitude]" placeholder="Longitude" style="width:50%"><br>
         <!-- <label>Preferred Role</label> &ensp; &ensp;<input type="radio" id="one" name="first_item" value="1" />
          <label for="one">Buyer</label>
              &ensp;&ensp;
              <input type="radio" id="two" name="first_item" value="2" />  <label for="two">Seller</label>
            -->
           <%= token_tag nil %>
        <p></p>
        <button class="btn btn-lg btn-primary btn-block" style="width:50%" type="submit">Sign Up</button>
		  </form>
		</div>
    </div>
</div>
</td>


</table>

<% end %>